{%extends "okoa/layout.html"%}
{%load static%}
{%block content%}
<h3 class="text-center">Mechanics</h3>
        <!--Carousel Wrapper-->
        {%for mech in mechanic%}
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
          class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
  
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active d-flex ">
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{mech.name}}</h4>
              <p class="card-text"><span>Age: </span> {{mech.age}}</p>
              <p class="card-text"><span>Location: </span> {{mech.location}}</p>
              <p class="card-text"><span>Rating: </span> {{mech.ratings}}</p> </p>
              <a class="btn btn-sm btn-outline-primary" href="">Comment</a>
            </div>
          </div>
        </div>
  
      </div>
      <!--/.First slide-->
      
  
    </div>
    <!--/.Slides-->
  
  </div>
  {% endfor %}
  <!--/.Carousel Wrapper-->
{% endblock %}