{%extends "okoa/layout.html"%}
{%load static%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>image</h3>
            <img src="{{mechanic.profile_picture.url}}" width="350" height="350" class="img-responsive" alt="col-md-2">
        </div>
        <hr>
        <br>
        <div class="col-md-3">
            <h3>Details</h3>
            <div class="my-3">Name: {{mechanic.name}}</div>
            <div class="my-3">Age: {{mechanic.age}}</div> 
            <div class="my-3">Rating: {{mechanic.rating}}</div> 
            <div class="my-3">Location: {{mechanic.location}}</div>
            <a href="{%url 'contact'%}" class="btn btn-outline-success">Get</a>
            <a href="" class="btn btn-outline-info">Add Comments</a>
        </div>
        <div class="col-md-5">
            <h3>Related Comments ()</h3>
            {% if not mechanic.comments.all%}
            <div>no comments</div>
            {%else%}
            {% for comment in mechanic.comments.all%}
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <div class="headings d-flex justify-content-between align-items-center mb-3">
                            <div class="buttons"> <span class="badge bg-white d-flex flex-row align-items-center"> <span class="text-primary"></span>
                                    <div class="form-check form-switch"> <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked> </div>
                                </span> </div>
                        </div>
                        <div class="card p-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">{{comment.commenter}}</small> <small class="font-weight-bold">{{comment.body}}</small></span> </div> <small>{{comment.created}}</small>
                            </div>
                            <div class="action d-flex justify-content-between mt-2 align-items-center">
                                <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                                <div class="icons align-items-center"> <i class="fa fa-star text-warning"></i> <i class="fa fa-check-circle-o check-icon"></i> </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
           {% endif %}
          <!-- <h2>Related Comments</h2>
           <p>add a comment</p>
           {% if not mechanic.comments.all%}
              <div>no comments</div>
           {%else%}
           {% for comment in mechanic.comments.all%}
              <div>{{comment.commenter}}</div>
              <div>{{comment.body}}</div>
              <div>{{comment.created}}</div>
           {% endfor %}
           {% endif %} -->
        </div>
    </div>
</div>
<style>
    body {
    background-color: #f7f6f6
}

.card {
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px
}

.dots {
    height: 4px;
    width: 4px;
    margin-bottom: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

.badge {
    padding: 7px;
    padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef
}

.user-img {
    margin-top: 4px
}

.check-icon {
    font-size: 17px;
    color: #c3bfbf;
    top: 1px;
    position: relative;
    margin-left: 3px
}

.form-check-input {
    margin-top: 6px;
    margin-left: -24px !important;
    cursor: pointer
}

.form-check-input:focus {
    box-shadow: none
}

.icons i {
    margin-left: 8px
}

.reply {
    margin-left: 12px
}

.reply small {
    color: #b7b4b4
}

.reply small:hover {
    color: green;
    cursor: pointer
}
</style>
{%endblock%}