{% extends 'okoa/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mt-4 bg-light">
            <img class="rounded-circle account-img d-block mx-auto" src="{{ user.profile.profile_picture.url }}">
            <h5 class="text-center mt-3">{{user.username}}</h5>
            <div class="text-center"> {{user.location}}</div>
            <div class="text-center"> {{user.contact}}</div>
        </div>
        <div class="col-md-6">
            <div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md ">
                    <div class="modal-content">
                        <form action="" method="post" novalidate enctype="multipart/form-data" class="mr-4 mt-4 ml-4 mb-4">
                            {% csrf_token%}
                            {{ user_form|crispy}}
                            {{ prof_form|crispy}}
                            <button type="submit" class="btn btn-outline-primary btn-sm"> Update Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>

{% endblock %}